<section id="certificate-section">
  <div class="certificate-list">
    <div
      *ngFor="let certificate of certificate"  
      class="certificate-item"
      (click)="certificate.link && openProject(certificate.link)"
      [class.clickable]="certificate.link">
      
      <!-- Certificate Name on top -->
      <div class="certificate-name">
        {{ certificate.name }}
      </div>
      
      <!-- Display certificate image below the name if available -->
      <div class="certificate-image" *ngIf="certificate.imageUrl">
        <img [src]="certificate.imageUrl" [alt]="certificate.name" />
      </div>
    </div>
  </div>
</section>




