<div class="portfolio-container" >

    <div class="portfolio-sidebar" *ngIf="!isLoading; else loadingTemplate">
    <app-header 
      [profile]="profile"
      (navClick)="scrollTo($event)">
    </app-header>
   <app-footer [userProfile]="profile ?? undefined"></app-footer>


  </div>
  <div id="cursor-glow"></div>

  <main class="portfolio-content" *ngIf="!isLoading; else loadingTemplate">

    
    <section id="about-section"> <app-about [profile]="profile"></app-about>
    </section>
    
    <section id="experience-section">
      <app-experience [experiences]="experiences"></app-experience>
    </section>
    
    <section id="projects-section">
      <app-projects [projects]="projects"></app-projects>
    </section>

     <section id="certificate-section">
      <app-certificate [certificate]="certificate" [userProfile]="profile"></app-certificate>

    </section>
  </main>

<ng-template #loadingTemplate>
  <div class="loading-container">
    <div class="loading-spinner">
      Loading portfolio
    </div>
  </div>
</ng-template>

</div>