<div class="portfolio-container" >

    <div class="portfolio-sidebar" *ngIf="!isLoading; else loading">
    <app-header 
      [profile]="profile"
      (navClick)="scrollTo($event)">
    </app-header>
   <app-footer [userProfile]="profile ?? undefined"></app-footer>


  </div>
  <div id="cursor-glow"></div>

  <main class="portfolio-content" *ngIf="!isLoading; else loading">

    
    <section id="about-section"> <app-about [profile]="profile"></app-about>
    </section>
    
    <section id="experience-section">
      <app-experience [experiences]="experiences"></app-experience>
    </section>
    
    <section id="projects-section">
      <app-projects [projects]="projects"></app-projects>
    </section>

     <section id="certificate-section">
      <app-certificate [certificate]="certificate"></app-certificate>
    </section>
  </main>

 <ng-template #loading>
  <div class="loading-container">
    <div class="loading-bars">
  <div></div><div></div><div></div>
</div>
  </div>
</ng-template>


</div>